$main-text-color: #000;
$links-color: #00acdc;
$product-width: 200px;
$product-gap-x: 24px;
$img-height: 134px;
$img-width: 160px;
$catalog-width: 4*$product-width +  6*$product-gap-x;
$default-transition: 1s;
$photo-scale-hovered: 1.2;
$catalog-column-gap: 48px;
$catalog-row-gap: 50px;
$max-column-count: 4;
