.catalog {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, $product-width);
  row-gap: $catalog-row-gap;
  column-gap: $catalog-column-gap;
  width: 4 * $product-width + 3 * $catalog-column-gap;
}
